body {
    background: #f2eeef;
}

#logo {
    width: 25%;
    height: 25%;
    padding-left: 40%;
    padding-right: 40%;
    background: #c52e33;
}

h1 {
    text-align: center;
}
p {
    text-align: justify;
    font-size: 20px;
}

#missao {
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 18px;
}

.itens {
    font-style: italic;
    text-align: left;
    font-size: 18px;  
    display: block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

h3 {
    text-align: right;
    font-size: 18px;
}

.contato {
       text-align: right;
       font-size: 18px;
       display: inline-block;
       vertical-align: top;
}

.img {
    width: 1%;
    display: inline-block;
}

footer {
    background-color: #f1be31;
    font-size: 15px;
    font-style: italic;

}
